body {
   font-family: 'Staatliches';
   background-color: whitesmoke;
   margin: 0em;
   background-image: url(Img/Fundo.jpg);
   background-size: 100% 100%;
   background-attachment: fixed;
}
#pag {
   width: 80%;
   margin: auto;
   color: black;
   background-color: rgb(173, 170, 166);
}
header {
   background-color: rgb(71, 70, 70);
   background-image: url(Img/Header.jpg);
   background-size: 100% 100%;
   color: rgb(255, 255, 255);
   height: 13em;
   max-width: 100%;
   padding: 2em;
   text-align: right;
}
header h3 {
   font-size: 3em;
}
header p {
   font-size: 2.5em;
   margin-top: 4em;
}
nav {
   background-image: linear-gradient(rgb(94, 89, 89),rgb(116, 110, 110),rgb(94, 89, 89));
   color: black;
   padding: 1em;
   max-width: 100%;
   height: 3em;
}
section {
   background-image: linear-gradient(rgb(116, 112, 112), rgb(138, 132, 132), rgb(116, 112, 112));
   color: black;
   padding: 2em;
   max-width: 100%;
   min-height: 55em;
   text-align: center;
}
footer {
   background-image: linear-gradient(rgb(94, 89, 89),rgb(94, 89, 89), rgb(116, 110, 110), rgb(94, 89, 89), rgb(94, 89, 89));
   color: black;
   min-height: 3em;
   padding: 1em;
}
#popup {
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
   background-color: rgba(0, 0, 0, 0.562);
}
#fechar {
   position: absolute;
   right: 90px;
   top: 20px;
   color: white;
   font-size: 35px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   cursor: pointer;
}
#quadro {
   width: 20%;
   margin: 15% auto;
   text-align: center;
   background-color: rgb(116, 112, 112);
   padding: 15px;
   border-radius: 15px;
}
#quadro a {
   text-decoration: none;
}
#quadro a:hover {
   text-decoration: underline;
}
#msg {
   color: rgb(126, 38, 38);
   display: none;
}
#button {
   background-color: rgb(73, 69, 69);
   color: white;
   padding: 5px;
   width: 35%;
}
button {
   display: block;
   background-color: rgb(73, 69, 69);
   color: white;
   padding: 5px 8px;
   margin-top: 250%;
}
.ip {
   width: 60%;
   margin: auto;
   margin-left: -70px;
   margin-right: -70px;
   border-radius: 7px;
   box-shadow: 2px 8px 28px -4px rgba(0,0,0,0.82);
   cursor: pointer;  
}
.produt {
   float: left;
   text-align: center;
}
ul li {
   float: left;
   width: 15%;
   text-align: center;
   list-style: none;
}
ul li a:hover {
   color: white;
}
ul li a:hover:visited {
   color: white;
}
ul li a {
   text-decoration: none;
   color: black;
}
ul li a:visited {
   color: black;
}
#prod a, #prod2 a, #prod3 a {
   color: rgb(19, 19, 100);
   text-decoration: none;
}
#prod a:visited, #prod2 a:visited #prod3 a:visited {
   color: rgb(17, 17, 68);
}
#d {
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
   background-color: rgba(0, 0, 0, 0.562);
   display: none;
}
#d img {
   margin: 5% 31%;
}

#imgin {
   float: left;
   margin-left: 27%;
}
#pcmod {
   font-size: 300%;
   margin-right: 10%;
   background-color: rgba(255, 255, 255, 0.24);
   height: 400px;
   padding: 5px;
}
#prod2 {
   margin-top: 30%;
}
#prod3 {
   margin-top: 60%;
}
#diz {
   margin: auto;
   margin-top: 10%;
   text-align: left;
   width: 75%;
   font-size: 20px;
}
footer p{
   margin-left: 3%;
   float: left;
}
#celmod {
   font-size: 260%;
   width: 40%;
   margin-right: 10%;
   background-color: rgba(255, 255, 255, 0.24);
   height: 400px;
   padding: 5px;
   padding-right: 80px;
   display: none;
}
nav p {
   cursor: pointer;
   text-align: right;
   display: none;
}
nav p:hover {
   color: white;
}
#armen {
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
   display: none;
}
#mencel {
   position: absolute;
   background-image: linear-gradient(rgb(68, 67, 67), grey, rgb(68, 67, 67));
   text-align: center;
   width: 9%;
   padding: 5px;
   margin-top: 24%;
   margin-left: 78%;
   box-shadow: 2px 8px 28px -4px rgba(0,0,0,0.82);
}
#mencel ul li {
   float: none;
   margin-bottom: 12px;
} 

@media screen and (max-width: 768px) {
   #imgin {
      margin-left: 40%;
      position: absolute;
   }
   #pcmod {
     display: none; 
   }
   #celmod {
      position: absolute;
      display: block;
   }
   #diz {
      margin-top: 180%;
   }
   footer p {
      margin-left: 2%;
      font-size: 50%;
   }
   nav ul {
      display: none;
   }
   .produt {
      float: none;
   }
   #prod2, #prod3 {
      margin-top: auto;
   }
   #mencel {
      width: 100px;
      margin-top: 73%;
      margin-left: 64%;
   }
   #ig img {
      width: 300px;
      margin-top: 90px;
      margin-left: 80px;
   }
   nav p {
      display: block;
   }
   header {
      background-size: 170% 100%;
      background-position-x: center;
      color: rgb(37, 36, 36)
   }
   #quadro {
      width: 50%;
   }
}
   