body {
    background-image: linear-gradient(#3262D9,#6086FF, #535CFA, #393EF8);
    background-attachment: fixed;
}
header {
    margin: auto;
    width: 80%;
    background-color: blue;
    margin-top: 0%;
}
nav {
    margin: auto;
    width: 80%;
    background-color: rgb(28, 28, 168);
}
main {
    margin: auto;
    background-color: #9EC1FF;
    width: 80%;
    padding: 20px 0px 30px;
    height: 800px;
}
footer {
    margin: auto;
    width: 80%;
    background-color: rgb(3, 3, 83);
}
h2 {
    margin: 0px 15%;
    color: #225178;
    font-size: 200%;
}
a {
    text-decoration-color: #225178;
}
