body {
    background-image: linear-gradient(#3262D9,#6086FF, #535CFA, #393EF8);
    background-attachment: fixed;
}
h1 {
    background-image: linear-gradient(#2093D9, #61B3FF, #2093D9);
    color: white;
    text-align: center;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    font-size: 250%;
}
main {
    margin: 15px auto;
    background-color: #9EC1FF;
    width: 95%;
    padding: 0px 0px 30px;
    border-radius: 15px;
}
h2 {
    margin: 0px 20%;
    color: #225178;
    font-size: 200%;
}
a {
    text-decoration-color: #225178;
}
